html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #EDE8D0;
    text-align: center;
    margin: 0;
}
h1 {
    background-color: black;
    color: white;
    padding: 20px;
}
p {
    font-size: 18px;
}
footer {
    background-color: #222;
    color: white;
    padding: 0px;
    position: fixed;
    bottom: 10;
    width: 100%;
}
header {
  background-color: black;
  padding: 10px;
}

h1 {
  color: white;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #f4c542;
}

.productos {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.productos img {
  width: 200px;
  border-radius: 10px;
}
.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.producto {
  background: white;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.producto img {
  width: 100%;
  border-radius: 10px;
}

.producto h3 {
  margin: 10px 0 5px;
}

.precio {
  color: #27ae60;
  font-size: 20px;
  font-weight: bold;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.modal-contenido {
  background: white;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
}

.modal-contenido img {
  width: 100%;
  border-radius: 10px;
}

.cerrar {
  float: right;
  cursor: pointer;
  font-size: 18px;
}



#contacto {
  background-color: #222;
  color: white;
  padding: 40px;
  text-align: center;
}

#inicio {
  padding: 40px;
  text-align: center;
}
section {
  padding: 40px 20px;
}

section h2 {
  text-align: center;
  margin-bottom: 20px;
}


.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

@media (max-width: 768px) {

  nav {
    text-align: center;
  }

  nav a {
    display: block;
    padding: 10px;
  }

  header h1 {
    font-size: 22px;
  }
  @media (max-width: 768px) {

  .card img {
    height: 180px;
  }

  section {
    padding: 20px 10px;
  }
}
@media (max-width: 768px) {
  .productos {
    display: grid;
    grid-template-columns: 1fr;
  }

  img {
    width: 100%;
    height: auto;
  }
}


}
